<div class="container-fluid" id="image-cover">

  <div class="row wrapper">
  </div>

  <div class="row">

    <div class="col-5 col-md-5 col-lg-7">
    </div>

    <div class="col-6 col-md-5 col-lg-3">
      <ul class="list-group">
        <% @cocktails.sort_by(&:name).each do |cocktail| %>
          <li class="list-group-item">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-1 col-md-2 col-lg-2">
    </div>

  </div>
</div>

<!-- <h1>Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
  <li>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </li>
<% end %>
<%= link_to "Create a new cocktail", new_cocktail_path %> -->

