<div class="container-fluid" id="image-cover-2">

  <div class="row wrapper">
  </div>

  <div class="row mx-5">
    <% @cocktails.sort_by(&:name).each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <% if cocktail.photo.attached? %>
          <div class="card-cocktails" style="background-image: url(<%= cl_image_path cocktail.photo.key %> )">
        <% else %>
          <div class="card-cocktails" style="background-image: url(https://source.unsplash.com/random)">
        <% end %>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<!-- <h1>Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
  <li>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </li>
<% end %>
<%= link_to "Create a new cocktail", new_cocktail_path %> -->

